 html,
 body {
    height: 100%;
     width: 100%;
}


body {
    align-items: center;
    margin: auto;
    font-family: sans-serif;
    color: #2d3c49;
}


h2 {
    margin: 0;
    
}


/* Header */

.header-logo {
  height: 120px;
  width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.header-title,
.header-subtitle {
    margin-top: 0;
    margin-bottom: 0;
}

.header-title,
.header-subtitle
 {
    font-weight: lighter;
}

.header-title {
    font-size: 45px;
    margin-top: 20px;
}

.header-subtitle {
    margin-top: 10px;
    text-align: end;
    font-size: 24px;
}

.img-fluid {
    padding-top: 20px;
}

/* Featured work boxes */

.section-title {
	font-size: 40px;
	text-align: center;
}

.projects_list {
	padding: 0;
	list-style: none;
}

.projects_list_cont {
	margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    line-height: 50px;
    font-weight: 200px;
    color: #2d3c49;
    font-size: 25px;
    border-radius: 12px;
    display: inline-block;
    background-color: lightgray;
    width: 50%;
}

.projects .btn {
	opacity: 0.9;
}

.row {
	margin-left: 0;
	margin-right: 0;
}
    
.article {
    grid-area: article;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-style: oblique;
    font-size: 25px;
    font-weight: 400;
    }

.footer {
    grid-area: footer;
    text-align: right;
    border-top: 1px solid #888;
    padding: 16px 16px 0px;
}




    /** Media queries */
    
@media screen and (min-width: 340px) {
	.header-logo {
		margin-left: 0;
	}
}

@media screen and (min-width: 576px) {
	.header-title {
		font-size: 64px;
	}

	.section-title {
		font-size: 48px;
	}
}